.container {
  max-width: 1170px;
}
/*
 * header
 */
header .navbar-collapse {
  /*max-width: 1170px;*/
}
header a {
 font-family: Myriad, sans-serif; 
 font-size: 16px;
}
.navbar-inverse {
 background-color: #0d0b11;
 height: 84px;
 margin: 0;
}
.navbar-inverse .navbar-brand {
 margin-top: 20px;
 color: #fff;
}
.navbar-nav {
  float: right;
}
header nav .navbar-nav li {
  margin-top: 20px;
  font-size: 14px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #ea5b58;
}
.navbar-inverse .navbar-nav>li>a:focus {
  text-decoration: none;
  color: #ea5b58;
}
.navbar-toggle {
  margin-top: 25px;
}
/*
 * section kalau
 */
#kalau {
  background-color: #212331;
  height: 462px;
}
#kalau h1 {
  font-size: 30px;
  color: #fff; 
  margin-top: 105px;
}
#kalau p {
  font-size: 20px;
  color: #fff;
  margin-top: 42px;
}
#kalau .btn {
  font-size: 18px;
  margin-top: 63px;
  height: 63px;
  width: 147px;
}
#kalau img {
  box-shadow: -20px 20px #64656e;
  border-radius: 5px;
  margin-top: 50px;
}

@media screen and (max-width: 770px) {
  .navbar-nav {
    text-align: center;
    /*float: none;*/
  }
  .collapse.in {
    
    /*height: 330px;*/
  }    
  #kalau {
    height: 800px;
    text-align: center;
    /*margin-top: 315px;*/
  }
  #kalau img {
    margin: 50px auto;
  }
}  