.container {
  max-width: 1170px;
}
/*
 * header
 */
header .navbar-collapse {
  /*max-width: 1170px;*/
}
header a {
 font-family: Myriad, sans-serif; 
 font-size: 16px;
}
.navbar-inverse {
 background-color: #0d0b11;
 height: 84px;
 margin: 0;
}
.navbar-inverse .navbar-brand {
 margin-top: 20px;
 color: #fff;
}
.navbar-nav {
  float: right;
}
header nav .navbar-nav li {
  margin-top: 20px;
  font-size: 14px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #ea5b58;
}
.navbar-inverse .navbar-nav>li>a:focus {
  text-decoration: none;
  color: #ea5b58;
}
.navbar-toggle {
  margin-top: 25px;
}
/*
 * section kalau
 */
#kalau {
  background-color: #212331;
  height: 462px;
}
#kalau h1 {
  font-size: 30px;
  color: #fff; 
  margin-top: 105px;
}
#kalau p {
  font-size: 20px;
  color: #fff;
  margin-top: 42px;
}
#kalau .btn {
  font-size: 18px;
  margin-top: 63px;
  height: 63px;
  width: 147px;
}
#kalau img {
  box-shadow: -20px 20px #64656e;
  border-radius: 5px;
  margin-top: 50px;
}
/*
 * section services
 */
#services {
  background-color: #475a85;
  color: #fff;
  text-align: center;
  height: 555px;
}
#services .service-head img {
  margin: 10px auto;
  margin-bottom: 67px;
}
#services h2 {
  font-size: 30px;
  margin-top: 64px;
}
#services p {
  font-size: 18px;
}
#services h4 {
  font-size: 18px;
}
#services .service p {
  font-size: 14px;
}
/*
 * greatest
 */
#greatest {
  background-image: url(../images/greatest.jpg);
  color: #fff;
  text-align: center;
  height: 418px;
  margin: 0;
}
#greatest h2 {
  font-size: 48px;
  padding-top: 190px;
  margin: 0;
}
#greatest p {
  font-size: 24px;
}
/*
 * portfolio
 */
#portfolio {
  color: #000;
  background-color: #fff;
  text-align: center;
  height: 1190px;
}
#portfolio h2 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 90px;
} 
#portfolio p {
  font-size: 18px;
}

#portfolio img {
  margin: 10px;
}
#portfolio .browse p,
#portfolio .browse img {
  margin: 0;
}
#portfolio .image {
  /*background-image: url("http://via.placeholder.com/370x290")*/
}
#portfolio .layer {
  display: none;
  background: #506083;
  /*background: rgba(104, 120, 155, 0.5);*/
  background: rgba(0, 0, 0, 0.5);

  width: 370px;
  height: 290px;
  margin: 10px;
  text-align: center;
  color: #fff;
  margin-top: -310px;
}
#portfolio .layer h4 {
  padding-top: 70px;
}
#portfolio .image1:hover .layer {
  display: block;
}

@media screen and (max-width: 770px) {
  .navbar-nav {
    text-align: center;
    /*float: none;*/
  }
  .collapse.in {
    
    /*height: 330px;*/
  }    
  #kalau {
    height: 800px;
    text-align: center;
    /*margin-top: 315px;*/
  }
  #kalau img {
    margin: 50px auto;
  }
  #services {
    height: 800px;
  } 
  #greatest h2 {
    font-size: 30px;

  }
  #greatest p {
    font-size: 18px;
  }
}  